<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Genie</title>
        
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    
<link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">

<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='jquery-3.6.0.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

</head>


</html>

<body>
    <div class="container-fluid">
        {% if extra %}
            <div class="message" name="result">
                {{extra}}
                <button class="close" type="button" aria-label="Dismiss this message" id="dismiss">&#10005;</button>
            </div>
        {% endif %}
        <br>
        <div class="row head">
        </div>
        <div class="row">
            <div class="col-lg-5 col-xl-4 order-2 order-sm-2 order-lg-1">
                <div class="login-card d-flex flex-column align-items-center">
                    <img class="align-self-middle logo" src="{{ url_for('static', filename='genicon.png') }}" alt="logo" />
                    <div class="hr"></div>
                    <h2 class="align-self-start">Sign Up</h2>
                    <form method="POST" action="/">
                        <div class="form-group">
                            <label for="name">Username/Email</label>
                            <input name="name" type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class= " form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="disco">Discord ID</label>
                            <input name="disco" type="text" class= " form-control" placeholder="18 digit discord ID">
                        </div>
                        <div class="form-group">
                            <label for="whatsapp">WhatsApp No.</label>
                            <input name="whatsapp" type="text" class= " form-control" placeholder="eg. 919876543210">
                        </div>
                        <div class="sign-up-btn">
                            <button type="submit" class="btn btn-primary">Opt in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-xl-8 order-1 order-sm-1 order-lg-2 blank d-flex align-items-center justify-content-center">
                <div class="logo text-center">
                    Information here
                </div>     
            </div>       
        </div>
    </div>

    {% block footer %}
        <footer class="row justify-content-center">
            <div class="col-md-2 col-xl-1 col-sm-3 d-flex justify-content-center">
                    <a href="https://github.com/heckerfr0d/attendance-genie">Contribute</a>
            </div>
            <div class="col-md-2 col-xl-1 col-sm-3 d-flex justify-content-center">
                <a href="https://github.com/heckerfr0d/attendance-genie"><svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="24" width="24" class="octicon octicon-mark-github">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg></a>
            </div>
            <div class="col-sm-auto d-flex justify-content-center">
                <a href="https://github.com/heckerfr0d/attendance-genie/issues">Report a bug</a>
            </div>
        </footer>
    {% endblock %}
</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>
